*, *:before, *:after{
			box-sizing: border-box;
		}
		
		html,body{
			height: 100%;
			font-size: 20px;
			font-family: "Century Gothic", sans;
		}

		.header{
			display: flex;
			width:100%;
			justify-content: center;
			background-color: rgba(0,0,0,.1);

		}

		.grid{
			border:1px solid rgba(142, 151, 199, 0.3);
			height: 50px;

		}
		.player-grid{
			/*height: 100vh;*/
		}

		.row-container{
			display: flex;
	
			/*background-color: grey;*/
		}

		.row-header-container{
			display: flex;
			flex-direction: column;
			width:calc(100%/11);

		}

		.row-content-container{
			
			width: calc(100% - calc(100%/11) );
			background: url("background.jpg");
			background-size: cover;
			background-position: bottom;
			color: white;
			display: grid;
			grid-template-rows:repeat(10, 1fr); 
			grid-template-columns: repeat(10, 1fr);
			text-align: center;
		}



		.row-content-container>*{
			box-shadow: inset -1px 2px 6px #545252;
		}
		.row-content-container>*:hover{
	/*		opacity: 0.2;	*/
			cursor: pointer;
			border:1px solid yellow;	
		}

		.lives{
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}


		.instructions{
			background-color: gold;
			height: 50px;
		}

		.forward{
			background-color: lightgreen;
		}

		.reset{
			background-color: red;
		}


		.highlight,.highlight:hover{
			background-color: #c3ef0282;
		}
		.lowlight{
			background-color: #ff000082;
		
	
		}